body {
	background-color: #F2F3F4;
	overflow-x: hidden;
	overflow-y: hidden;
}

.panel {
	position: absolute;
	top: 80px;
	left: 80px;
	width: 1120px;
	height: 700px;
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	font-size: 1.5em;
}

.panel > div {
	display: none;
}

.ivu-message-notice-content-text .ivu-message-custom-content span {
	font-size: 1.2em;
}

.ivu-tabs-nav-scroll-disabled {
	display: none;
}
/********0*********/
.setting-card .ivu-card-body > div {
	margin-top: 10px;
	margin-bottom: 25px;
	display: block;
}

.one-input > div:first-child {
	margin-bottom: 10px;
	display: block;
}

.one-input > div:last-child {
	display: block;
}

.one-info {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}

.one-info > div:first-child {
	width: 200px;
	display: inline-block;
	line-height: 27px;
}

.one-info > div:last-child {
	display: inline;
	line-height: 27px;
}
/*******************/

/********1*********/
.request-card {
	height: 650px;
}

#param-card .ivu-card-body {
	max-height: 547px;
	overflow-y: auto;
	overflow-x: hidden;
}

.ivu-tabs-nav-scroll {
	background-color: white;
}

.one-option {
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
}

.one-option > div:nth-child(1) {
	width: 35%;
	display: inline-block;
}

.one-option > div:nth-child(2) {
	display: inline-block;
	width: 54%;
	margin-left: 2%
}

.one-option > div:nth-child(3) {
	display: inline-block;
	margin-left: 12px;
}

.option-rm-icon {
	font-size: 16px;
	cursor: pointer;
}

.option-rm-icon:hover {
	color: #ff3300
}

.option-plus-icon {
	font-size: 21px;
    position: absolute;
    top: 14px;
    right: 20px;
    cursor: pointer;
    font-weight: 100;
    color: #80848f;
}

.option-plus-icon:hover {
	color: #2db7f5;
}

#pretty-response, #raw-response {
	background: white;
	border-top: solid 1px grey;
	position: relative;
	top: 32px;
}

#raw-response code {
	margin-top: 14px;
}

.ivu-timeline-item:not(:last-child) {
	padding-bottom: 107px;
}

.ivu-timeline-item-content {
	font-size: 15px
}

.opt-send-btn {
	margin-top: 30px;
	position: relative;
    left: 35%;
	width: 150px;
}

.detail-panel {
	max-height: 400px;
	overflow: auto;
}

.raw-btn-group {
	margin: 15px auto;
	text-align: center;
}
/*****************/
#scroll-main .ivu-scroll-container {
	height: 690px !important;
}

.ivu-table .row-error-code td:nth-of-type(7){
	background-color: #ff3300;
	color: #fff;
}

.ivu-table .row-success-code td:nth-of-type(7){
	background-color: #00cc66;
	color: #fff;
}

.ivu-table .row-invalid-code td:nth-of-type(7){
	background-color: #ff9900;
	color: #fff;
}

td.ivu-table-expanded-cell {
	padding: 10px 20px;
}

.package-break-line {
	white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
}

.export-btn-group {
	border-bottom: 1px solid grey;
	padding-bottom: 10px;
	width: 98%;
}
/****************/
.app-info > div {
	margin-top: 20px;
}

.app-info .hvr-float-shadow {
	cursor: pointer;
}

.logo {
	margin-top: 40px;
}

.fileSelection {
	width: 300px;
    height: 120px;
    border: 1px solid grey;
    border-style: dashed;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.fileSelection:hover {
	border-color: #2db7f5;
	color: #2db7f5;
}

.oldPath {
	margin-top: 25px;
	cursor: pointer;
}

/*animations*/
.option-plus-icon:hover, .option-rm-icon:hover {
	transform: rotate(270deg) scale(1.4,1.4);
}

.option-plus-icon, .option-rm-icon {
	transition: all 0.2s ease-in-out;
}

.opt-list-enter-active, .opt-list-leave-active {
	transition: all 0.6s;
}

.opt-list-enter, .opt-list-leave-to {
	opacity: 0;
	transform: translateX(400px);
}

.opt-list-leave-active {
	height: 32px
}

.opt-list-leave-to {
	height: 0px;
}

.toggle-pretty-enter-active, .toggle-pretty-leave-active {
	transition: opacity 1s;
}
.toggle-pretty-enter, .toggle-pretty-leave-to {
	opacity: 0;
}

.hvr-grow-rotate:hover {
	font-size: 1.3em;
	cursor: pointer;
}